html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: none;
}
body {
    font-family: 'Syne Mono', monospace;
    height: 100%;
}
#strona {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    position: relative;
    min-height: 100vh;
    background-color: #c9daf8;
    color: rgb(44, 59, 139);
}
header {
    height: 150px;
    font-size: 300%;
    text-align: center;
    padding-top: 3%;
    background-color: white;
    color: #041c47;
}
header h1 {
    margin-left: 200px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 70px;
    background: #041c47;
    color: #c9daf8;
    font-size: 120%;
}
footer span {
    position: relative;
    top: 35%;
    vertical-align: bottom;
    margin-left: 20px;
    margin-right: 20px;
}
.tel {
    margin-left: 200px;
}
nav {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #041c47;
}
ul {
    margin-top: 150px;
}
ul li {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 120%;
    font-weight:bold;
}
a {
    color: #c9daf8;
}
ul li:hover {
    background-color: #0a2b69;
}
article {
    margin-left: 200px;
    text-align: center;
}
article h2 {
    color: black;
    font-size: 170%;
    font-weight: bold;
    padding: 2%;
}
article p {
    padding: 2%;
}
.pojemnik {
    height: 100%;
    width: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(3, 10%);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}
img {
    width: 100%;
}
.pojemnik2 {
    height: 100%;
    width: 100%;
    padding: 2%;
    align-items: center;
    justify-content: center;
}
table {
    width: 100%;
}
td, th{
    border: 2px solid black;
    font-size: 140%;
    padding: 2%;
}
th {
    font-weight: bold;
    font-style: italic;
}
input, select {
    margin: 0.5%;
    padding: 0.2%;
    font-size: 150%;
    border: none;
    outline: none;
    background: #c9daf8;
    border-bottom: 1px solid #041c47;
}
input[type="submit"] {
    margin-top: 5%;
    border: 1px solid #041c47;
    background-color: white;
    padding: .5% 1%;
    border-radius: 5px;
}
input[type="submit"]:hover {
    cursor: pointer;
}
select:hover {
    cursor: pointer;
}
.strony-dodatkowe {
    border: 2px solid white;
    width: 190px;
    margin: 5px;
    padding: 5px;
    padding-top: 40px;
    text-align: center;
    margin-top: 60px;
    position: relative;
}
.tytul {
    position: absolute;
    width: 160px;
    background-color: white;
    font-weight: bold;
    top: -20px;
    left: 12.5px;
}
.strony-dodatkowe a {
    font-size: 160%;
    text-decoration: underline;
}
video {
    max-width: 280px;
    height: auto;
}

@media screen and (min-width: 1025px) and (max-width:1350px){
    .pojemnik {
        grid-template-columns: repeat(3, 15%);
    }
    article {
        font-size: 120%;
    }
}
@media screen and (min-width: 480px) and (max-width:1024px){
    .pojemnik {
        grid-template-columns: repeat(2, 25%);
    }
    article {
        font-size: 160%;
    }
    video {
        max-width: 400px;
        height: auto;
    }
}


